body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}

.container-fluid {

}

.modal form {
    margin-bottom: 0;
}

h3 
{
    color: #404040;
}

.expiresoon {
    background-color: orange;
}

.expired {
    background-color: orangered;
    color: #fff;
}
.expired h3 {
    color: #fff;
}

.well h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 979px) {
    body {
        padding-top: 0;
        padding-bottom: 0;
    }
    .navbar-fixed-top, .navbar-fixed-bottom {
        margin-right: -20px;
        margin-left: -20px;
    }
}

@media (max-width: 767px) 
{
    .hero-unit {
        padding: 20px;
        margin-bottom: 10px;
    }
    .hero-unit h1 {
        font-size: 40px;
    }

}